
@{
    ViewBag.Title = "Index";
}


<h3>Internet Language Translator</h3>


<form>
    <div class="row">
        <div class="col-md-6">
            <input id="InputBox" name="Request" type="text" style="width:500px" class="input-sm" />
        </div>
        <div class="col-md-6">
            <button class="btn btn-default" onclick="return clear()" type="submit">Clear</button>
        </div>
    </div>
    
</form>

<div id="Image" class="row" />

@section PageScripts
    {
    <script type="text/javascript" src="~/Scripts/TransLanguage.js"></script>
}
