
@{
    ViewBag.Title = "HomePage";
}

<div class="row">
    <div class="col-md-4">
        <h2>Create Request</h2>
        <p>
            If you are teannant and have requests for the landlord, please create a new request here.
        </p>
        <p><a class="btn btn-default" href="/Home/Create">Start &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See Request</h2>
        <p>If you are teannant and want to edit or see your submitted request, please click here.</p>
        <p>If you are landlord and want to see all the request from teannant, please click here.</p>
        <p><a class="btn btn-default" href="/Home/Index">Start &raquo;</a></p>
    </div>
</div>

