@{
    ViewBag.Title = "HomePage";
}

<div class="jumbotron">
    <h1>CS460 Homework 6</h1>
    <p class="lead">Clients Search and Clients Information</p>
    <p>
        Input part of the client name, you will find the person you want and look the details.
    </p>
    <p><a class="btn btn-default" href="/Home/Search">Start&raquo;</a></p>
</div>